body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color: rgb(14, 14, 14);
}
/* -----------NAV ----------------- */
.navbar-nav .nav-link {
    transition: all 0.5s ease; 
    border-bottom: 2px solid transparent;
    color: #a3a3a3;
}

.navbar-nav .nav-link:hover {
    transform: translateY(-1px);
    color: black;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.navbar-brand {
    transition: all 0.3s ease-in-out;
}
.navbar-brand:hover {
    transform: translate(5px) scale(1.1);
}
/* ---------HOME PAGE ----------------- */
/* Style for the container */
.image-container {
    position: relative;
    overflow: hidden;
}

/* Style for the image */
.image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
}

/* Style for the image */
.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s ease; /* Add smooth transition for zoom effect */
}

/* Style for the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Style for the overlay text */
.overlay-text {
    font-size: 18px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: center; /* Center the text */
    transition-delay: 0.2s; /* Delay the text animation */
}

/* Hover effect */
.image:hover img {
    transform: scale(1.2); /* Zoom effect without changing image size */
}

/* Show overlay and animate text on hover */
.image:hover .overlay {
    opacity: 1;
}

.image:hover .overlay .overlay-text {
    opacity: 1;
    transform: translateY(0);
}

.btn-more {
    transition: all 0.2s ease-in-out;
}
.btn-more:hover {
    transform: scale(1.03);
}
/* --------------------------------------------------------
PROJECTS PAGE 
---------------------------------------------------------*/
/* Style for the gallery container */

.btn {
    background-color: #fff;
}
.filter-buttons .btn.active {
    background-color: #000; /* Change to your desired active button background color */
    color: #fff; /* Change to your desired active button text color */
}

.project {
    transition: opacity 0.3s ease-in-out;
}
  
.project.fade-in {
    opacity: 0;
    display: none;
}
  
.project.slide-out {
    opacity: 1;
    display: block;
}
  
@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* ----------------------------------
about
------------------------------------ */
.profile-image {
    border-radius: 400px;
}


/* ------------------------\
-------product page----------- */
.grid-icon {
    transition: all 0.2s ease-in-out;
}

.grid-icon:hover {
    transform: scale(1.2);
}
/* ----------------------
            page animations
------------ */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated-content {
    animation: fadeInUp 0.5s ease-in-out;
}


